# Learn SQLite3 Database Query

---

In this section we will focus on learning SQLite Syntax for Query Data and its functions

**To Do:** Load DataFrame `taxis` from seaborn to pandas, then create SQLite3 database called `taxi.db` then insert the dataframe to SQLite with table name `taxi_data`

In [3]:
!pip list

Package                   Version
------------------------- ------------
aiofiles                  23.2.1
aiohttp                   3.8.6
aiosignal                 1.3.1
altair                    5.1.2
annotated-types           0.6.0
antiorm                   1.2.1
anyio                     3.7.1
argon2-cffi               23.1.0
argon2-cffi-bindings      21.2.0
arrow                     1.3.0
asttokens                 2.4.1
async-lru                 2.0.4
async-timeout             4.0.3
attrs                     23.1.0
Babel                     2.13.1
backcall                  0.2.0
beautifulsoup4            4.12.2
bleach                    6.1.0
blinker                   1.6.3
certifi                   2023.7.22
cffi                      1.16.0
charset-normalizer        3.3.1
click                     8.1.7
colorama                  0.4.6
comm                      0.1.4
contourpy                 1.1.1
cycler                    0.12.1
db                        0.1.1
db-sqlite3                0.0.1
debugpy                   1.8.0
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
executing                 2.0.0
fastapi                   0.104.1
fastjsonschema            2.18.1
ffmpy                     0.3.1
filelock                  3.13.1
flasgger                  0.9.7.1
Flask                     3.0.0
fonttools                 4.43.1
fqdn                      1.5.1
frozenlist                1.4.0
fsspec                    2023.10.0
gradio                    3.40.1
gradio_client             0.7.0
h11                       0.14.0
httpcore                  0.18.0
httpx                     0.25.0
huggingface-hub           0.18.0
idna                      3.4
importlib-resources       6.1.0
ipykernel                 6.26.0
ipython                   8.16.1
ipython-genutils          0.2.0
ipywidgets                8.1.1
isoduration               20.11.0
itsdangerous              2.1.2
jedi                      0.19.1
Jinja2                    3.1.2
json5                     0.9.14
jsonpointer               2.4
jsonschema                4.19.1
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.5.0
jupyter-console           6.6.3
jupyter_core              5.4.0
jupyter-events            0.8.0
jupyter-lsp               2.2.0
jupyter_server            2.9.1
jupyter_server_terminals  0.4.4
jupyterlab                4.0.7
jupyterlab-pygments       0.2.2
jupyterlab_server         2.25.0
jupyterlab-widgets        3.0.9
kiwisolver                1.4.5
linkify-it-py             2.0.2
markdown-it-py            2.2.0
MarkupSafe                2.1.3
matplotlib                3.8.0
matplotlib-inline         0.1.6
mdit-py-plugins           0.3.3
mdurl                     0.1.2
mistune                   3.0.2
multidict                 6.0.4
nbclient                  0.8.0
nbconvert                 7.9.2
nbformat                  5.9.2
nest-asyncio              1.5.8
notebook                  7.0.6
notebook_shim             0.2.3
numpy                     1.26.1
openpyxl                  3.1.2
orjson                    3.9.10
overrides                 7.4.0
packaging                 23.2
pandas                    2.1.2
pandocfilters             1.5.0
parso                     0.8.3
pickleshare               0.7.5
Pillow                    10.1.0
pip                       23.3.1
platformdirs              3.11.0
prometheus-client         0.17.1
prompt-toolkit            3.0.39
psutil                    5.9.6
pure-eval                 0.2.2
pycparser                 2.21
pydantic                  2.4.2
pydantic_core             2.10.1
pydub                     0.25.1
Pygments                  2.16.1
pyparsing                 3.1.1
python-dateutil           2.8.2
python-json-logger        2.0.7
python-multipart          0.0.6
pytz                      2023.3.post1
pywin32                   306
pywinpty                  2.0.12
PyYAML                    6.0.1
pyzmq                     25.1.1
qtconsole                 5.4.4
QtPy                      2.4.1
referencing               0.30.2
requests                  2.31.0
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rich                      13.6.0
rpds-py                   0.10.6
seaborn                   0.13.0
semantic-version          2.10.0
Send2Trash                1.8.2
setuptools                65.5.0
shellingham               1.5.4
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.6.3
starlette                 0.27.0
terminado                 0.17.1
tinycss2                  1.2.1
tomlkit                   0.12.0
toolz                     0.12.0
tornado                   6.3.3
tqdm                      4.66.1
traitlets                 5.12.0
typer                     0.9.0
types-python-dateutil     2.8.19.14
typing_extensions         4.8.0
tzdata                    2023.3
uc-micro-py               1.0.2
uri-template              1.3.0
urllib3                   2.0.7
uvicorn                   0.23.2
wcwidth                   0.2.8
webcolors                 1.13
webencodings              0.5.1
websocket-client          1.6.4
websockets                11.0.3
Werkzeug                  3.0.1
widgetsnbextension        4.0.9
yarl                      1.9.2

In [2]:
# Import Library
import seaborn as sns
import pandas as pd

sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [4]:
# Get taxis dataframe from seaborn using load_dataset and show first 5 rows
taxis_df = sns.load_dataset('taxis')
taxis_df.head(5)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

In [ ]:
# Create connection to sqlite database
import sqlite3
connection = sqlite3.connect('database/taxis.db')

In [9]:
# Insert taxis dataframe into sqlite database using to_sql method

taxis_df.to_sql('taxis', connection, if_exists='replace', index=False)

6433

In [14]:
# tutup koneksi
connection.close()

---

## Read SQLite Table and create the dataframe

As we know, to read data from SQLite, we usually create connection, create cursor then read the data, this will return the result data in list, to create dataframe from it, we can use `cursor.description`

**To Do:** Select * from taxi_data table by limit 10, get the column, and create dataframe from it

In [2]:
import sqlite3
import pandas as pd
connection = sqlite3.connect('database/taxis.db')

In [3]:
# step 1: cennect ke db, akses 10 rows data
cursor = connection.execute('SELECT * FROM taxis LIMIT 10')

# step 2: tampung ke dataframe
columns = [col[0] for col in cursor.description]
print(columns)

['pickup', 'dropoff', 'passengers', 'distance', 'fare', 'tip', 'tolls', 'total', 'color', 'payment', 'pickup_zone', 'dropoff_zone', 'pickup_borough', 'dropoff_borough']

In [4]:
for col in cursor.description:
    print(col[0])

pickup
dropoff
passengers
distance
fare
tip
tolls
total
color
payment
pickup_zone
dropoff_zone
pickup_borough
dropoff_borough

In [5]:
# tampung ke dataframe
data = cursor.fetchall()
taxi_df = pd.DataFrame(data, columns=columns)
taxi_df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
5,2019-03-11 10:37:23,2019-03-11 10:47:31,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
6,2019-03-26 21:07:31,2019-03-26 21:17:29,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
7,2019-03-22 12:47:13,2019-03-22 12:58:17,0,1.40,8.5,0.00,0.0,11.80,yellow,None,Murray Hill,Flatiron,Manhattan,Manhattan
8,2019-03-23 11:48:50,2019-03-23 12:06:14,1,3.63,15.0,1.00,0.0,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
9,2019-03-08 16:18:37,2019-03-08 16:26:57,1,1.52,8.0,1.00,0.0,13.30,yellow,credit card,Lincoln Square East,Central Park,Manhattan,Manhattan

**To Do:** Create Python Function that automatically read query and output dataframe

In [6]:
def query_to_dataframe(db_file, query):
    # bikin koneksi ke db
    connection = sqlite3.connect(db_file)
    
    # query ambil data 10 rows
    cursor = connection.execute(query)
    columns = [col[0] for col in cursor.description]
    
    # tampung ke dataframe
    data = cursor.fetchall()
    df = pd.DataFrame(data, columns=columns)
    
    connection.close()
    
    return df

In [9]:
# panggil fungsi
df = query_to_dataframe('database/taxis.db', 'SELECT * FROM taxis')
df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

___

## Query Data using pandas read_sql method

**To Do:** Create dataframe `taxi_df` using query in pandas given the connection

In [12]:
connection = sqlite3.connect('database/taxis.db')

# tulis query
query = 'SELECT * FROM taxis'

taxi_df = pd.read_sql(query, connection)
taxi_df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

In [15]:
taxi_df

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:09,2019-03-23 20:27:24,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:55,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:01,2019-03-27 18:00:25,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:59,2019-03-10 01:49:51,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:42,2019-03-30 13:37:14,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6428,2019-03-31 09:51:53,2019-03-31 09:55:27,1,0.75,4.5,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:23,1,18.74,58.0,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6430,2019-03-23 22:55:18,2019-03-23 23:14:25,1,4.14,16.0,0.00,0.0,17.30,green,cash,Crown Heights North,Bushwick North,Brooklyn,Brooklyn
6431,2019-03-04 10:09:25,2019-03-04 10:14:29,1,1.12,6.0,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn
6432,2019-03-13 19:31:22,2019-03-13 19:48:02,1,3.85,15.0,3.36,0.0,20.16,green,credit card,Boerum Hill,Windsor Terrace,Brooklyn,Brooklyn

___

## Query Manipulation
Since we already have SQLite Database with single table, we want to learn query manipulation to get data from the SQLite

### Tasks:
1. Get unique Payment used in taxi, How many unique pickup zone from the taxi data ?
2. Get Maximum & Minimum Fare in taxi
3. Get Top 5 of pickup zone with highest tip
4. Get Average Distance of the taxi
5. Get Average Distance of the taxi that use payment Credit Card vs Cash which one has the highest ?
6. What is payment used from the longest distance in the taxi data
7. How much is average fare for every taxi color ? 
8. Get Data of passengers, distance, fare, tip, and tolls for taxi that has pickup borough from manhattan that has tip more than average of tip from taxi passengers that has pickup borough from queens
9. For Taxi that has yellow color, what is maximum distance, average fare, and average passengers for every taxi transaction drop borough
10. For Taxi that has total tip above average tip given, show is average distance and average fare of each pickup_zone which has average trip distance more than 10 km, sort by highest average fare amount

You can Try those query inside the jupyter or using DBeaver

## 1.  Get unique Payment used in taxi, How many unique pickup zone from the taxi data ?

In [16]:
# dataframe unique payment
uniqe_payment = taxi_df['payment'].unique()
print(uniqe_payment)

['credit card' 'cash' None]

In [19]:
# mba claire
# dataframe unique pickup
uniqe_pickup_clean = taxi_df['pickup_zone'].dropna()
uniqe_pickup = uniqe_pickup_clean
print(len(uniqe_pickup))

6407

In [14]:
# mas faldy
# sql
connection = sqlite3.connect('database/taxis.db')
cursorObj = connection.cursor()
cursorObj.execute('SELECT COUNT(pickup_zone) FROM taxis')
cursorObj.fetchall()

[(6407,)]

In [20]:
# sql
connection = sqlite3.connect('database/taxis.db')
cursorObj = connection.cursor()
cursorObj.execute('SELECT DISTINCT payment FROM taxis WHERE payment is not null')
cursorObj.fetchall()

[('credit card',), ('cash',)]

## 2. Get Maximum & Minimum Fare in taxi

In [2]:
# mas bowo
# min
import sqlite3
import pandas as pd
connection = sqlite3.connect('database/taxis.db')

query = 'SELECT MIN(fare) FROM taxis'

taxis_df = pd.read_sql(query, connection)
taxis_df

   MIN(fare)
0        1.0

In [3]:
#max
connection = sqlite3.connect('database/taxis.db')

query = 'SELECT MAX(fare) FROM taxis'

taxis_df = pd.read_sql(query, connection)
taxis_df

   MAX(fare)
0      150.0

## 3. Get Top 5 of pickup zone with highest tip

In [26]:
# cara query
# mba tara
connection = sqlite3.connect('database/taxis.db')
cursorObj = connection.cursor()
cursorObj.execute('SELECT pickup_zone, tip FROM taxis WHERE pickup_zone is not null ORDER BY tip DESC LIMIT 5')
cursorObj.fetchall()
connection.close()

In [ ]:
# cara dataframe

## 4. Get Average Distance of the taxi

In [4]:
# mas bowo
connection = sqlite3.connect('database/taxis.db')

query = 'SELECT AVG(distance) FROM taxis'

taxis_df = pd.read_sql(query, connection)
taxis_df

   AVG(distance)
0       3.024617

## 5. Get Average Distance of the taxi that use payment Credit Card vs Cash which one has the highest ?

## 6. What is payment used from the longest distance in the taxi data

## 7. How much is average fare for every taxi color ?

## 8. Get Data of passengers, distance, fare, tip, and tolls for taxi that has pickup borough from manhattan that has tip more than average of tip from taxi passengers that has pickup borough from queens

## 9. For Taxi that has yellow color, what is maximum distance, average fare, and average passengers for every taxi transaction drop borough

## 10. For Taxi that has total tip above average tip given, show is average distance and average fare of each pickup_zone which has average trip distance more than 10 km, sort by highest average fare amount