# Learn SQLite3 Database Query

---

In this section we will focus on learning SQLite Syntax for Query Data and its functions

**To Do:** Load DataFrame `taxis` from seaborn to pandas, then create SQLite3 database called `taxi.db` then insert the dataframe to SQLite with table name `taxi_data`

In [ ]:
# Import Library

In [ ]:
# Get taxis dataframe from seaborn using load_dataset and show first 5 rows

In [ ]:
# Create connection to sqlite database

In [ ]:
# Insert taxis dataframe into sqlite database using to_sql method

---

## Read SQLite Table and create the dataframe

As we know, to read data from SQLite, we usually create connection, create cursor then read the data, this will return the result data in list, to create dataframe from it, we can use `cursor.description`

**To Do:** Select * from taxi_data table by limit 10, get the column, and create dataframe from it

**To Do:** Create Python Function that automatically read query and output dataframe

___

## Query Data using pandas read_sql method

**To Do:** Create dataframe `taxi_df` using query in pandas given the connection

___

## Query Manipulation
Since we already have SQLite Database with single table, we want to learn query manipulation to get data from the SQLite

### Tasks:
1. Get unique Payment used in taxi, How many unique pickup zone from the taxi data ?
2. Get Maximum & Minimum Fare in taxi
3. Get Top 5 of pickup zone with highest tip
4. Get Average Distance of the taxi
5. Get Average Distance of the taxi that use payment Credit Card vs Cash which one has the highest ?
6. What is payment used from the longest distance in the taxi data
7. How much is average fare for every taxi color ? 
8. Get Data of passengers, distance, fare, tip, and tolls for taxi that has pickup borough from manhattan that has tip more than average of tip from taxi passengers that has pickup borough from queens
9. For Taxi that has yellow color, what is maximum distance, average fare, and average passengers for every taxi transaction drop borough
10. For Taxi that has total tip above average tip given, show is average distance and average fare of each pickup_zone which has average trip distance more than 10 km, sort by highest average fare amount

You can Try those query inside the jupyter or using DBeaver